{
  "$schema": "https://json.schemastore.org/prettierrc",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "experimentalTernaries": true,
  "printWidth": 180,
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.{yml,yaml}",
      "options": {
        "parser": "yaml",
        "singleQuote": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json",
        "printWidth": 80,
        "singleQuote": false
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "printWidth": 80
      }
    },
    {
      "files": "*.html",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": []
}
